@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.current-tab {
  background-color: #00446B;
  color: #fff;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  background-color: #f8f8f8;
  color: #222;
}
body a {
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 1.6rem;
}
body li {
  list-style: none;
}
body h1 {
  font-size: 3rem;
}
body h2 {
  font-size: 2.2rem;
}
body img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

#main-nav {
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  left: 0;
}
#main-nav #home-main {
  padding: 12px 18px;
}
#main-nav #nav-list {
  display: flex;
}
#main-nav #nav-list a {
  padding: 12px 18px;
  transition: 0.3s;
}
#main-nav #nav-list a:hover {
  background-color: #00446B;
  color: #fff;
  text-decoration: underline;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 50px;
}
#hero #content-hero h1 {
  font-size: 6rem;
}
#hero #content-hero p {
  font-size: 2rem;
}
#hero #img-hero img {
  width: 100%;
  height: 40vh;
}

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.container #main-container {
  background-color: #00446B;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 4px gray;
  width: 960px;
}
.container #main-container #balance-container {
  text-align: center;
}
.container #main-container #balance-container h2 {
  font-size: 3.5rem;
  margin-bottom: 0.5em;
}
.container #main-container #balance-container p {
  background-color: #f8f8f8;
  color: #222;
  padding: 30px;
  margin-bottom: 1em;
  font-size: 3.2rem;
  border-radius: 10px;
}
.container #main-container #income-expense-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
  margin-bottom: 3.5em;
}
.container #main-container #income-expense-container h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}
.container #main-container #income-expense-container .box {
  background-color: #f8f8f8;
  color: #222;
  width: 50%;
  border-radius: 10px;
  padding: 20px 0;
}
.container #main-container #income-expense-container .box p {
  font-size: 1.8rem;
}
.container #main-container #income-expense-container .income-container h3 {
  color: green;
}
.container #main-container #income-expense-container .expense-container h3 {
  color: red;
}
.container #main-container #history-container {
  overflow-y: scroll;
  padding: 20px;
  margin-bottom: 4em;
  background-color: #f8f8f8;
  color: #222;
  border-radius: 10px;
}
.container #main-container #history-container h2 {
  text-align: center;
}
.container #main-container #history-container #list {
  min-height: 30vh;
}
.container #main-container #history-container #list li {
  font-size: 1.5rem;
  border-bottom: solid 2px #ccc;
  text-align: center;
}
.container #main-container #history-container #list li:last-child {
  border-bottom: none;
}
.container #main-container #history-container #list li span {
  font-weight: bold;
}
.container #main-container #history-container #list li .delete-btn {
  cursor: pointer;
  padding: 0.8em;
  color: red;
  background: none;
  border: none;
  transition: 0.2s;
  font-weight: bold;
}
.container #main-container #history-container #list li .delete-btn:hover {
  transform: scale(1.5);
}
.container #main-container #transaction-container form fieldset {
  padding: 20px;
  border-radius: 10px;
}
.container #main-container #transaction-container form fieldset legend {
  font-size: 2rem;
}
.container #main-container #transaction-container form fieldset p {
  font-size: 1.4rem;
  margin-bottom: 0.8em;
}
.container #main-container #transaction-container form fieldset label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.5em;
}
.container #main-container #transaction-container form fieldset input[type=reset], .container #main-container #transaction-container form fieldset input[type=submit] {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 10px;
  transition: 0.3s;
}
.container #main-container #transaction-container form fieldset input {
  font-size: 1.5rem;
  display: block;
  min-width: 100%;
  margin-bottom: 0.5em;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
}
.container #main-container #transaction-container form fieldset input[type=submit] {
  background-color: #235C00;
  color: #fff;
}
.container #main-container #transaction-container form fieldset input[type=submit]:hover {
  background-color: #3d6b20;
}
.container #main-container #transaction-container form fieldset input[type=reset]:hover {
  background-color: rgb(205, 240, 248);
}

#about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#about h2 {
  font-size: 5rem;
  margin-bottom: 1em;
}
#about p {
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
}
#about p::before {
  content: '"';
}
#about p::after {
  content: '"';
}

#dev {
  height: 90vh;
  background-color: #00446B;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
#dev .right-content h2 {
  font-size: 3rem;
}
#dev .right-content a {
  color: #fff;
  transition: 0.3s;
}
#dev .right-content a p {
  font-size: 2rem;
  padding: 20px;
}
#dev .right-content a:hover {
  color: coral;
}
#dev .middle-content {
  background-color: #fff;
  width: 2px;
  height: 60vh;
}
#dev .left-content footer p {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
