@media screen and (max-width: 425px) {
   #main-nav {
      flex-wrap: wrap;
      
      #nav-list {
         display: none;
      }
   }

   #hero {
      display: none;
   }

   .container {
      padding: 20px;
      #main-container {
         #balance-container {
            h2 {
               font-size: 2rem;
            }
            #balance-total {
               font-size: 2.5rem;
            }
         }

         #income-expense-container {
            h3 {
               font-size: 2rem;
            }
            p {
               font-size: 1.8rem;
            }
         }
      }
   }

   #about {
      display: none;
   }

   #dev {
      display: none;
   }
}

