@use 'util';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: util.$font-primary;
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   background-color: util.$primary-color;
   color: util.$font-color;

   a {
      display: block;
      text-decoration: none;
      color: util.$font-color;
      font-size: 1.6rem;
   }

   li {
      list-style:  none;
   }

   h1 {
      font-size: 3rem;
   }

   h2 {
      font-size: 2.2rem;
   }
}

#main-nav {
   display: flex;
   justify-content: space-around;

   #home-main {
      padding: 12px 18px;
   }

   #nav-list {
      display: flex;
      
      a {
         padding: 12px 18px;
         transition: .3s;
      }

      a:hover {
         background-color: util.$accent-color;
         color: #fff;
         text-decoration: underline;
      }
   }
}

#hero {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 40vh;

   #content-hero {
      h1 {
         font-size: 6rem;
      }
      
      p {
         font-size: 2rem;
      }
   }
}

.container {
   display: flex;
   justify-content: center;
   padding: 10px;


   #main-container {
      background-color: util.$accent-color;
      color: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 5px 4px gray;

      #balance-container {
         text-align: center;

         h2 {
            font-size: 3.5rem;
            margin-bottom: 0.5em;
         }

         p {
            background-color: util.$primary-color;
            color: util.$font-color;
            padding: 30px;
            margin-bottom: 1em;
            font-size: 3.2rem;
            border-radius: 10px;
            
         }
      }

      #income-expense-container {
         display: flex;
         justify-content: space-around;
         text-align: center;
         gap: 10px;

         h3 {
            font-size: 2.5rem;
            margin-bottom: .5em;
         }

         .box {
            background-color: util.$primary-color;
            color: util.$font-color;
            width: 50%;
            border-radius: 10px;
            margin-bottom: 1.5em;
            padding: 20px 0;

            p {
               font-size: 1.8rem;
            }
         }

         .income-container {
            h3 {
               color: green;
            }
         }

         .expense-container {
            h3 {
               color: red;
            }
         }
      }

      #history-container {
         overflow-y: scroll;
         padding: 20px;

         h2 {
            text-align: center;
         }
      }
   }
}